@model IEnumerable<WebClientToService.Models.WebBid>

@{
    ViewBag.Title = "List";
}
<body oncontextmenu="return false">
    <script>
        document.onkeydown = function (e) {
            if (event.keyCode == 123) {
                return false;
            }
            if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
                return false;
            }
        }
    </script>
    <h2>View</h2>


    @using (Html.BeginForm("Create", "Bid", FormMethod.Post)) {
        <table class="table">
            <tr>
                @*@Html.LabelFor(model => model, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <input class="form-control text-box single-line" id="BidAmount" name="BidAmount" type="number" value="" />
                <input class="form-control text-box single-line" id="CustomerId" name="CustomerId" type="number" value="1" />
                <input class="form-control text-box single-line" id="AuctionId" name="AuctionId" type="number" value="1" />
                <input type="submit" value="Create" class="btn btn-default" />
                <th>
                    @Html.DisplayNameFor(model => model.BidAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AuctionId)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BidAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuctionId)
                    </td>


                </tr>
            }

        </table>
    }
