@model WebClientToService.Models.WebAuction
@{
    ViewBag.Title = "Create";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Auction</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
            <div class="form-group">
                @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="ProductName" name="ProductName" type="text" value="" />
                    @*Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="ProductDescription" name="ProductDescription" type="text" value="" />
                    @*@Html.EditorFor(model => model.ProductDescription, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.ProductDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TimeLeft, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="TimeLeft" name="TimeLeft" type="number" step="any" value="" />
                    @*@Html.EditorFor(model => model.TimeLeft, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.TimeLeft, "", new { @class = "text-danger" })
                </div>
            </div>



            @*@<div class="form-group">
                @Html.LabelFor(model => model.Result, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="Result" name="Result" type="text" value="" />
                    @Html.EditorFor(model => model.Result, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Result, "", new { @class = "text-danger" })
                </div>
            </div>*@

            @*@<div class="form-group">
                @Html.LabelFor(model => model.PaymentDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="PaymentDate" name="PaymentDate" type="datetime-local" value="" />
                    @Html.EditorFor(model => model.Result, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger" })
                </div>
            </div>*@



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
    </div>

}


@*<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateAuctions</title>
</head>
<body>
    <h3></h3>
    <div>
        <form action="/action_page.php">
            <label for="Product Name">Product Name:</label>
            <input type="text" id="productName" name="productName"><br><br>
            <label for="Product Description">Product Description:</label>
            <input type="text" id="productDescription" name="productDescription"><br><br>
            
        </form>
        
    </div>
</body>
</html>*@
