@model WebClientToService.Models.WebCustomer
@{
    ViewBag.Title = "Create Account";
}

    <body oncontextmenu="return false">
        <script>
            document.onkeydown = function (e) {
                if (event.keyCode == 123) {
                    return false;
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
                    return false;
                }
            }
        </script>
        <h2>Create Account</h2>
        @using (Html.BeginForm("CreateCustomer", "Account", FormMethod.Post))
        {
            <div class="row">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger"})
                <div class="col-lg-6">
                    <h2>Create Account</h2>
                    <hr />
                    <div>If you're a new user, and want to make an account, then create your account here.</div>
                    <div>
                        <div class="form-group">
                            <label>First name</label><input class="form-control text-box single-line" id="FirstName" name="FirstName" type="text" value="" aria-required="true" />
                            <label>Last Name</label><input class="form-control text-box single-line" id="LastName" name="LastName" type="text" value="" aria-required="true" />
                            <label>Address</label><input class="form-control text-box single-line" id="Address" name="Address" type="text" value="" aria-required="true"/>
                            <label>Email</label><input class="form-control text-box single-line" id="Email" name="Email" type="text" value="" aria-required="true" />
                            <label>Password</label><input class="form-control text-box single-line" id="Password" name="Password" type="password" value="" aria-required="true" />
                            @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger" })
                            @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "text-danger" })
                            @Html.ValidationMessageFor(model => model.Address, "", new {@class = "text-danger" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <button type="submit">Create Account</button>
                    </div>
                </div>
            </div>
        }
</body >
